extends ../default.pug
block pageContent
  include ../templates/header.pug
  // MAIN CONTENT
  main.main
    section.section.blog
      .container
        .row
          .col-md-12
            h2.section__title.align-center Блог
        .row
          - var count=0;
              while count < 8
                .col-md-3.col-sm-6
                  // SINGLE BLOG
                  a(href='#').blog__box
                    div(style='background-image:url(img/blog-bg.jpg)').blog__img
                      .blog__date 11.12.17
                    p.blog__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem minima nam, eius expedita similique voluptatibus ea quos repudiandae quasi.
                    - count++
        .row
          .col-md-12
            p.number.align-center
              //IF PAGE IS ACTIVE SET NUMBER__LINK_ACTIVE
              each number, index in ['1', '2', '3', '4', '5']
                if index==0
                  a(href='#').number__link.number__link_active= number
                else
                  a(href='#').number__link= number
  include ../templates/footer.pug