extends ../default.pug
block pageContent
  include ../templates/header.pug
  
  //BREADCUMBS
  .breadcumbs
    .container
      .row
        .col-md-12
          form.form.form_breadcumbs(action="" method='').mt-20
            span.form__name Тип коллекции
            select.form__select
              option collect
              option collect
            span.form__name Коллекция
            select.form__select
              option collect
              option collect
            span.form__name Категория
            select.form__select
              option collect
              option collect

  // MAIN CONTENT
  main.main
    section.section.catalog
      .container
        .row
          .col-md-12
            h2.section__title.section__title_catalog Коллекции
        //- .row
        //-   .col-md-12
        //-     .catalog__header
        //-       .row
        //-         .col-md-4
        //-             //SEX FILTERS
        //-             a(href='#').catalog__category Мужская
        //-             a(href='#').catalog__category Женская
        //-         .col-md-8
        //-           nav.nav.align-right
        //-             ul.nav__list.catalog__list
        //-               each item,index in ['Браслеты', 'Кольца','Подвески','Пряжки','Цепи']
        //-                 li.nav__item.nav__item_inline
        //-                   //IF CATEGORY IS ACTIVE SET CATALOG__MENU_ACTIVE
        //-                   if index==0
        //-                     a(href='#').nav__link.catalog__menu.catalog__menu_active.nav__link_capitalize= item
        //-                   else 
        //-                     a(href='#').nav__link.catalog__menu.nav__link_capitalize= item
        .row
          .col-md-3.align-center
            .catalog__main
              span
                .section__subtitle
                  | Женская
                  br
                  | Коллекция
                img(src='img/women.png')
                p.section__text.section__text_neutral.mt-30 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, ab.
          -var count = 0;
            while count<7
              .col-md-3.align-center
                .product
                  span.product__animation
                  span
                    a.product__link
                      img(src='img/item.jpg').product__img
                    div.product__wrap
                      a(href="#").section__text.section__text_dark Навсегда / Forever new
                      p.section__price.section__text_dark 1.800 <span>грн</span>
                      button.button.button_uppercase.product__button.product__button_cart в корзину
                    -count++
        .row
          .col-md-12
            ul.number.align-center
              //IF PAGE IS ACTIVE SET NUMBER__LINK_ACTIVE
              each number, index in ['1', '2', '3', '4', '5']
                if index==0
                  li.number__item
                    a(href='#').number__link.number__link_active= number
                else
                  li.number__item
                    a(href='#').number__link= number
  include ../templates/footer.pug