extends ../default.pug
block pageContent
  include ../templates/header.pug
  
  //BREADCUMBS
  .breadcumbs
    .container
      .row
        .col-md-12
          nav.nav
            ul.nav__list
              each item in ['Главная', 'Коллекции']
                li.nav__item.nav__item_inline
                  a(href='#').breadcumbs__link.nav__link.nav__link_dark= item

  // MAIN CONTENT
  main.main
    section.section.catalog
      .container
        .row
          .col-md-12
            h2.section__title.section__title_catalog Коллекции
        .row
          .col-md-12
            .catalog__header
              .row
                .col-md-4
                    //SEX FILTERS
                    a(href='#').catalog__category Мужская
                    a(href='#').catalog__category Женская
                .col-md-8
                  nav.nav.align-right
                    ul.nav__list
                      each item,index in ['Браслеты', 'Кольца','Подвески','Пряжки','Цепи']
                        li.nav__item.nav__item_inline
                          //IF CATEGORY IS ACTIVE SET CATALOG__MENU_ACTIVE
                          if index==0
                            a(href='#').nav__link.catalog__menu.catalog__menu_active.nav__link_capitalize= item
                          else 
                            a(href='#').nav__link.catalog__menu.nav__link_capitalize= item
        .row
          .col-md-3.align-center
            .catalog__main
              span
                .section__subtitle
                  | Женская
                  br
                  | Коллекция
                img(src='img/catalog-main.png')
                p.section__text.section__text_neutral.mt-30 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, ab.
          -var count = 0;
            while count<7
              .col-md-3.align-center
                .product
                  span
                    a.product__link
                      img(src='img/item.jpg').product__img
                    div.product__wrap
                      p.section__text.section__text_dark Навсегда / Forever new
                      p.section__text.section__text_dark 1.800 <span>грн</span>
                      button.button.button_light.button_uppercase.product__button в корзину
                    -count++
        .row
          .col-md-12
            p.number.align-center
              //IF PAGE IS ACTIVE SET NUMBER__LINK_ACTIVE
              each number, index in ['1', '2', '3', '4', '5']
                if index==0
                  a(href='#').number__link.number__link_active= number
                else
                  a(href='#').number__link= number
  include ../templates/footer.pug