extends ../default.pug
block pageContent
  include ../templates/header.pug
  // MAIN CONTENT
  main.main
    section.home
      .container
        .row
          //BIG CENTER BANNER
          .col-md-12.col-sm-12
            a(href='#').home__box
              img(src="img/bg-1.jpg").home__img.img-responsive
              h2.home__title заголовок
          //SMALL LEFT BANNER
          .col-md-6.col-xs-12.col-sm-6
            a(href='#').home__box.mt-20
              img(src="img/bg-2.jpg").home__img
          //SMALL RIGHT BANNER
          .col-md-6.col-xs-12.col-sm-6
            a(href='#').home__box.mt-20
              img(src="img/bg-3.jpg").home__img
  include ../templates/footer.pug