extends ../default.pug
block pageContent
  include ../templates/header.pug
  // MAIN CONTENT
  main.main
    section.section.blog
      .container
        .row
          .col-md-12.align-center
            h2.section__title.section__title_dark Заголовок
            p.blog__single-date 11.12.17
        .row
          .col-md-10.col-md-offset-1
            //- div(style='background-image:url(img/singleblog.jpg)').blog__single-img
            .blog__single-image.image-blog
              .image-blog__center
              .image-blog__inner(style='background-image:url(img/singleblog.jpg)')
        .row
          .col-md-8.col-md-offset-2
            p.section__text.section__text_neutral Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo possimus et autem voluptate eveniet quas ullam fugit officia molestias earum similique est error assumenda animi ipsum impedit, quibusdam, aliquam soluta laborum vero odio corrupti! A, ut nisi. Magni a earum id. Nesciunt perferendis possimus ducimus. Ex tenetur totam quia quisquam.
            
  include ../templates/footer.pug