.blog {
  &__img {
    background-size:cover;
    background-position: center center;
    width:100%;
    float: left;
  
    height:250px;
    position:relative;
  }
  &__date {
    position:absolute;
    top:15px;
    left:0;
    background-color:$white-color;
    padding: 8px 11px;
    font-size:14px;
    color:$black-color;
  }
  &__box  {
    display:block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%;
    &:hover, &:focus, &:link {
      text-decoration: none;
      color:#9d9d9d;
    }
  }
  &__text {
    color:#9d9d9d;
    font-size:18px;
    overflow:hidden;
  }
  &__single {
    &-date {
      color:$black-color;
      font-size:14px;
    }
    &-img {
      height:309px;
      background-position: center center;
      background-repeat:no-repeat;
      background-size:cover;
      margin-bottom:45px;
    }
  }
}

.bottom-blog {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  &__date {
    color: #ccc;
  }
  &-more {
    color: $black-color;
    text-transform: uppercase;
    &:hover {
      color: $black-color;
    }
  }
}

.image-blog {
  position: relative;
  &__center {
    padding-top: 56.25%;
    height: 0;
    margin-bottom: 0;
  }
  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    display: block;
    width: 100%;
    height: 100%;
  }
}