{% extends 'lions_heart_products/index.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytemplatetags %}

{% block content %}

    <!-- MAIN CONTENT-->
    <main class="main">
      <section class="section cart">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section__title section__title_catalog">{% trans 'Cart' %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <table class="cart__table">

                {% if cart.get_total_price %}

                <thead>
                  <tr class="cart__table-row">
                    <th class="cart__table-title"></th>
                    <th class="cart__table-title">{% trans 'Quantity' %}</th>
                    <th class="cart__table-title">{% trans 'Price' %}</th>
                    <th class="cart__table-title">{% trans 'Cost' %}</th>
                    <th class="cart__table-title"></th>
                  </tr>
                </thead>

                {% endif %}

                <tbody>

                {% for item in cart %}

                  <tr class="cart__table-row">
                    <td class="cart__table-data"><a class="cart__table-main" href="{% url 'item' item.item.pk %}">
                        <div class="cart__table-thumbnail" href="{% url 'item' item.item.pk %}"><img class="cart__table-img" src="{{ item.item.title_image.url }}"></div>
                        <h4 class="section__text section__text_dark">{{ item.item.title }}</h4></a></td>
                    <td class="cart__table-data cart__table-quantity">


                        <form method="post" action="{% url 'cart_update'  item.item.pk %}" class="update" id="form-{{ item.item.id }}">
                            {% csrf_token %}

                                <input id="cart__summ" name="new_quantity" class="cart__table-result update_q" type="number" value="{{ item.quantity }}" min="1" max="100">

                        </form>

                    </td>
                    <td class="cart__table-data">
                      <p class="section__text section__text_dark">{{ item.price }}</p>
                    </td>
                    <td class="cart__table-data">
                      <p class="section__text section__text_dark" id="sum-{{ item.item.id }}">{{ item.total_price }}</p>
                    </td>
                    <td class="cart__table-data"><a class="cart__table-close" href="{% url 'cart_remove' item.item.pk %}">&times;</a></td>
                  </tr>

                {% empty %} <h4>{% trans 'Cart is empty' %}</h4>

                {% endfor %}

                </tbody>
              </table>
            </div>

            {% if cart.get_total_price %}
            <div class="col-md-3">
              <div class="section__item align-center cart__item">
                <p class="section__text section__text_dark section__text_mb-0">{% trans 'Total cost' %}</p>
                <p class="section__title section__title_dark cart__pay"><span id="total_price">{{ total_price }}</span> <span class="section__price">{% trans 'UAH' %}</span></p>
                <a href="{% url 'order' %}"><button class="button button_uppercase product__button">{% trans 'Checkout' %}</button></a>
              </div>
            </div>

            {% endif %}

          </div>

          {% if recommended %}
        <!--RECOMENDATION GOODS-->
                      <div class="row">
            <div class="col-md-12">
              <h2 class="sp__recomendation align-center">{% trans 'Recommended items' %}</h2>
            {% endif %}

              {% for item in cart %}
                  {% for item in item.item.recommended_items.all %}
                <div class="col-md-3 align-center">
                <div class="product"><span class="product__animation"></span><a class="product__link"><img class="product__img" src="{{ item.title_image.url }}"></a>
                    <div class="product__wrap"><a class="section__text section__text_dark" href="#">{{ item.title }}</a>
                      <p class="section__text section__text_dark">{{ item.price|convert }}<span>{% trans 'UAH' %}</span></p>
                      <a href="{% url 'add_to_cart' item.pk %}"><button class="button button_uppercase product__button">{% trans 'Add to cart' %}</button></a>
                    </div>
                </div>
                </div>
                  {% endfor %}
              {% endfor %}


            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock content %}
