{% extends 'lions_heart_products/index.html' %}

{% block content %}

     {% for item in cart %}

            <p><img src={{ item.item.title_image.url }} /></p>

            <p>{{ item.item.title }}</p>
            <p>Цена: {{ item.price }}</p>
{#            <p>Количество: <span id="quantity-{{ item.item.id }}">{{ item.quantity }}</span></p>#}

         <form method="post" action="{% url 'cart_update'  item.item.pk %}" class="update" id="form-{{ item.item.id }}">
            {% csrf_token %}

             {{form}}

         </form>

            <p>Сумма: <span id="sum-{{ item.item.id }}">{{ item.total_price }}</span></p>

         <a class="btn btn-primary" href="{% url 'cart_remove' item.item.pk %}" role="button">Delete</a>

         <br>
        {% empty %}
            Cart is empty.
        {% endfor %}
        <hr>

        {% if cart.get_total_price %}

        <h4>Итого к оплате: <span id="total_price">{{ total_price }}</span></h4>

        <a class="btn btn-primary" href="{% url 'order' %}" role="button">Checkout</a>

        {% endif %}

{% endblock content %}





