{% extends 'lions_heart_products/index.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    <main class="main">
      <section class="section ordering">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-md-7">
              <div class="ordering__main">
                <h2 class="ordering__title ordering__title_main">{% trans 'Checkout' %}</h2>
                <p class="ordering__subtitle">{% trans 'PERSONAL INFORMATION' %}</p>
                <form method="post" action="{% url 'new_order' %}">
            {% csrf_token %}

            {{ form.as_p }}
                    <input type="submit" value='{% trans "Checkout" %}' class="button button_uppercase product__button" >

                    <h4>{% trans 'We make delivery in Kiev' %}</h4>

                        <div class="align-center">
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-3">
              <!--ORDER INFO-->
              <div class="section__item ordering__item">
                <div class="ordering__item-header">
                  <h3 class="ordering__subtitle ordering__subtitle_p0">{% trans 'Your order' %}</h3>

                  {% for item in cart %}

                  <div class="ordering__good"><a class="section__text section__text_neutral ordering__sp" href="{% url 'item' item.item.pk %}">{{ item.item.title }}</a><span class="section__text section__text-dark">{{ item.total_price }} {% trans 'UAH' %}</span></div>


                   {% endfor %}
                </div>
                <div class="ordering__item-body align-center">
                  <p class="section__text section__text_dark section__text_mb-0">{% trans 'Total cost' %}</p>
                  <p class="ordering__title">{{ cart.get_total_price }} {% trans 'UAH' %}</p>
                </div>



              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock content %}

