{% extends 'lions_heart_products/index.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
    <main class="main">
      <section class="section ordering">
        <div class="container">

          <h4>{% trans "Your order is successfully submitted. We'll contact You soon." %}</h4>

{#            <div id="np-map" style=""> <button type="button" id="npw-map-open-button">НАЙБЛИЖЧЕ ВІДДІЛЕННЯ</button> <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPhm7Q29X5ldwjLtA7IMYHU_0xATiWK3A&amp;language=ru"></script> </div>#}

        </div>
      </section>
    </main>

    <script type='text/javascript' id='map' charset='utf-8' data-lang='ua' apiKey='78874a00cd69bf0686e0b28bd59821ea' data-town='undefined' data-town-name='undefined' data-town-id='undefined' src='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Map/dist/map.min.js'></script>

{% endblock content %}

