{% extends 'lions_heart_products/index.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytemplatetags %}

{% block content %}


    <!--BREADCUMBS-->
    <div class="breadcumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item nav__item_inline"><a class="breadcumbs__link nav__link nav__link_dark" href="{% url 'home' %}">{% trans 'Main' %}</a></li>
                  <li class="nav__item nav__item_inline"><a class="breadcumbs__link nav__link nav__link_dark" href="{% url 'collection' collects.pk  %}">{{ collects.title }}</a></li>
                  {% if categs %}<li class="nav__item nav__item_inline">{{ categs.title }}</li>{% endif %}
                  {% if sales %}<li class="nav__item nav__item_inline">{% trans 'Sales' %}</li>{% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <!-- MAIN CONTENT-->
    <main class="main">

      <section class="section catalog">
        <div class="container">


      <nav class="nav align-right">
                       <ul class="nav__list">
                        {% for category in categories %}
                            {% if collects.pk == 1 and category.pk == 3 %}
                             {% else %}
                         <li class="nav__item nav__item_inline">
                           <!--IF CATEGORY IS ACTIVE SET CATALOG__MENU_ACTIVE--><a class="nav__link catalog__menu catalog__menu_active nav__link_capitalize" href="{% url 'collection_category' collects.pk category.pk %}">{{ category.title }}</a>
                         </li>
                            {% endif %}
                        {% endfor %}
{#                       <li class="nav__item nav__item_inline">#}
{#                         <a class="nav__link catalog__menu catalog__menu_active nav__link_capitalize" href="{% url 'collection_sales' collects.pk %}">{% trans 'Sales' %}</a>#}
{#                         </li>#}
                       </ul>
                  </nav>


        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


          <div class="row">
            <div class="col-md-3 align-center">
              <div class="catalog__main"><span>
                  <div class="section__subtitle">{% trans 'Collection' %}<br></div><img src="{{ collects.logo_image.url }}">
                  <p class="section__text section__text_neutral mt-30">{{ collects.description }}</p></span></div>
            </div>

              {% for item in object_list %}

            <div class="col-md-3 align-center">
              <div class="product"><span class="product__animation"></span><a class="product__link" href="{% url 'item' item.pk  %}"><img class="product__img" src="{{ item.title_image.url }}"></a>
                  <div class="product__wrap"><a class="section__text section__text_dark" href="{% url 'item' item.pk  %}">{{ item.title }}</a>
                    <p class="section__text section__text_dark">
                        {{ item.price|convert }}<span> {% trans 'UAH' %}</span></p>
                   <a href="{% url 'add_to_cart' item.pk %}"><button class="button button_uppercase product__button">{% trans 'Add to cart' %}</button></a>
                  </div>
              </span>
              </div>
            </div>

              {% endfor %}

            {% include 'lions_heart_products/pagination.html' %}

        </div>
      </section>
    </main>


    {% endblock content %}