{% extends 'lions_heart_products/index.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load mytemplatetags %}

{% block content %}

    <!-- MAIN CONTENT-->
    <main class="main">

      <section class="section catalog">
        <div class="container">

        <form action="" method="get" class="form form_breadcumbs mt-20">


            {% trans 'Category' %}{% render_field filter.form.category onchange="this.form.submit();" class="form__select" %}

    </form>


        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


          <div class="row">
            <div class="col-md-3 align-center">
              <div class="catalog__main"><span>
                  <div class="section__subtitle">{{ object_list.first.collection.title }}<br></div><img src="{{ object_list.first.collection.logo_image.url }}">
                  <p class="section__text section__text_neutral mt-30">{{ object_list.first.collection.description }}</p></span></div>
            </div>

              {% for item in object_list %}

            <div class="col-md-3 align-center">
              <div class="product"><span><a class="product__link" href="{% url 'item' item.pk  %}"><img class="product__img" src="{{ item.title_image.url }}"></a>
                  <div class="product__wrap"><a class="section__text section__text_dark" href="{% url 'item' item.pk  %}">{{ item.title }}</a>
                    <p class="section__text section__text_dark">{{ item.price }}<span> {% trans 'UAH' %}</span></p>
                   <a href="{% url 'add_to_cart' item.pk %}"><button class="button button_light button_uppercase button_bg-dark product__button">{% trans 'Add to cart' %}</button></a>
                  </div>
              </span>
              </div>
            </div>

              {% endfor %}

          <div class="row">
            <div class="col-md-12">
              <p class="number align-center">

                  {% if response.has_other_pages %}
  <ul class="pagination">
    {% if response.has_previous %}
      <li><a href="?{% url_replace request 'page' response.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in response.paginator.page_range %}
      {% if response.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if response.has_next %}
      <li><a href="?{% url_replace request 'page' response.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

              </p>
            </div>
          </div>
        </div>
      </section>
    </main>


    {% endblock content %}