{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>

      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5NPBW4N');</script>
<!-- End Google Tag Manager -->

      <script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="number"))  {return false;}
}

document.onkeypress = stopRKey;

</script>

  </head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static "lions_heart_products/img/favicon.ico" %}" type="image/x-icon">
  <title>Lion's Heart</title>
  <link href="{% static "lions_heart_products/css/libs.min.css" %}" rel="stylesheet">
  <link href="{% static "lions_heart_products/css/main.css" %}" rel="stylesheet">
  <link rel='stylesheet' href='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Map/styles/map.css' />
  <style>
    #myForm {
      display:inline;
    }
    @media (max-width: 768px) {
      #myForm {
        text-align: center;
      }
    }
  </style>
  <body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NPBW4N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
    <!-- HEADER-->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
              <!-- LOGO--><a class="header__logo" href="{% url 'home' %}">
              <span><img src="{% static "lions_heart_products/img/logo.jpg" %}" alt="logo">
                  <img class="header__line" src="{% static "lions_heart_products/img/header-line.jpg" %}"></span></a>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-12">

          {% load i18n %}


            <a class="header__mobile" href="#"><span class="header__hamburger"></span>
                <span class="header__hamburger"></span><span class="header__hamburger"></span></a>
            <!-- NAVIGATION-->
            <nav class="nav header__nav">
                <div class="header__additional">

            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                 {{ language.code }}
            </option>
        {% endfor %}
    </select>
    <div class="header__rate">$ {{ rate }}</div>
</form>
        </div>

              <ul class="nav__list nav__list_header">

                  <li class="nav__item nav__item_inline nav__item_has-child header__item"><span class="nav__link nav__link_dark nav__link_uppercase header__link header__link_has-child">{% trans 'Our collections' %}</span>
                   <!-- DROP-DOWN-->
                   <ul class="nav__list nav__list-child align-center">
                       <li class="nav__item header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link header__link_child" href="{% url 'collection' lions_heart.pk %}">{% trans "Men's" %}<br>{{ lions_heart }}</a>
                         <a class="nav__link nav__link_uppercase nav__link_dark header__link header__link_child" href="{% url 'collection' revived.pk %}">{% trans "Women's" %}<br>{{ revived }}</a></li>
                   </ul>
                    </li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'sales' %}">{% trans 'Sales' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a id="cart" class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'cart' %}">{% trans 'Cart' %}
                    <span id="cart_items" class="cart__length" >{{ items }}</span></a></li>
              </ul>


            </nav>
          </div>
        </div>
      </div>

    </header>
    {% block content %}
    <!-- MAIN CONTENT-->
    <main class="main">
      <section class="home">
        <div class="home__slider">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for banner in company_info.banners_set.all %}
                        <div class="swiper-slide" style="background-image:url({{ banner.image.url }});">
                      <div class="home__dark">
                          <div class="home__title">{{ company_info.banner_title }}</div>
                          <a class="home__button" {% if banner.is_revived %}
                             href="{% url 'collection' revived.pk %}"
                             {% else %}
                             href="{% url 'collection' lions_heart.pk %}"
                             {% endif %}>
                              {% trans 'start shopping' %}<span class="home__button-inner"></span></a>
                        </div>
                      </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>
    </main>
    {% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="row">


              <div class="col-md-2 col-sm-3">
            <!-- FIRST MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                   {% for category in categories_first %}
                {% if category.lions_heart_present %}<li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'collection_category' lions_heart.pk category.pk  %}">{{ category.title }}</a></li>{% endif %}
                   {% endfor %}
              </ul>
            </nav>
          </div>


         <div class="col-md-2 col-sm-3">
            <!-- FIRST MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                   {% for category in categories_second %}
                {% if category.lions_heart_present %}<li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'collection_category' lions_heart.pk category.pk  %}">{{ category.title }}</a></li>{% endif %}
                   {% endfor %}
              <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'sales' %}">{% trans 'Sales' %}</a></li>
              </ul>
            </nav>
          </div>


            <div class="col-md-2">
            <!-- SECOND MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-md-3 col-md-offset-3 align-right">
            <!--TELL-->
            <p class="footer__subtitle mt-20">{% trans 'Call' %}</p><a class="footer__tel" href="tel:{{ company_info.phone_set.all.0.phone }}">{{ company_info.phone_set.all.0.phone }}</a>
               <div class="footer__social social-footer">
                   <a class="social-footer__inner" href="#" target="_blank"><img src="{% static "lions_heart_products/img/instagram.png" %}" alt="facebook"></a>
                   <a class="social-footer__inner" href="https://www.facebook.com/LionsHeartJewellery/" target="_blank"><img src="{% static "lions_heart_products/img/facebook.png" %}" alt="facebook"></a>
               </div>
          </div>
        </div>

      <div class="row">
           <div class="col-md-12"><a class="footer__copyright" href="https://gofriends.pro/ru/">All rights reserved GoFriends &copy; 2018</a></div>
         </div>

      </div>
    </footer>
    <script src="{% static "lions_heart_products/js/libs.min.js" %}"></script>
    <script src="{% static "lions_heart_products/js/main.js" %}"></script>
  </div>
  </body>
</html>

