{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>

<script src="{% static 'lions_heart_products/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'lions_heart_products/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'lions_heart_products/js/infinite.min.js' %}"></script>

      <script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="number"))  {return false;}
}

document.onkeypress = stopRKey;

</script>
  </head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lion's Heart</title>
  <link href="{% static "lions_heart_products/css/libs.min.css" %}" rel="stylesheet">
  <link href="{% static "lions_heart_products/css/main.css" %}" rel="stylesheet">
  <link rel='stylesheet' href='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Map/styles/map.css' />
  <style>
    #myForm {
      display:inline;
    }
    @media (max-width: 768px) {
      #myForm {
        text-align: center;
      }
    }
  </style>
  <body>
    <!-- HEADER-->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <!-- LOGO--><a class="header__logo" href="{% url 'home' %}"><img src="{% static "lions_heart_products/img/logo.jpg" %}" alt="logo"><img class="header__line" src="{% static "lions_heart_products/img/header-line.png" %}"></a>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-12">

          {% load i18n %}


            <a class="header__mobile" href="#"><span class="header__hamburger"></span><span class="header__hamburger"></span><span class="header__hamburger"></span></a>
            <!-- NAVIGATION-->
            <nav class="nav header__nav">
            <span class="nav__wrapper">

         <ul class="nav navbar-nav navbar-left language menu">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
        <li>
            <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
               class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}"
               lang="{{ language.code }}">
                {{ language.code }}
            </a>
        </li>
    {% endfor %}


</ul>

              <ul class="nav__list nav__list_header">


                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'collection' collections.0.pk %}">{{ collections.0 }}</a></li>

                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>

                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'collection' collections.1.pk %}">{{ collections.1 }}</a></li>

                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'gifts' %}">{% trans 'Unique gifts' %}</a></li>
                <li class="nav__item nav__item_inline header__item"><a class="nav__link nav__link_uppercase nav__link_dark header__link" href="{% url 'cart' %}">{% trans 'Cart' %}
                    {% if items %}<span class="cart_length" >{{ items }}</span>{% endif %}</a></li>
              </ul>
            </span>
            <span class="rate">USD: {{ rate }}</span>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {% block content %}
    <!-- MAIN CONTENT-->
    <main class="main">
      <section class="home">
        <div class="container">
          <div class="row">
            <!--BIG CENTER BANNER-->
            <div class="col-md-12"><img class="home__img" src="{% static "lions_heart_products/img/49.jpg" %}">
                <h2 class="home__title">{% trans 'Title' %}</h2></div>
            <!--SMALL LEFT BANNER-->
            <div class="col-md-6"><a class="home__box mt-20" href="#"><img class="home__img" src="{% static "lions_heart_products/img/left_banner.jpg" %}"></a></div>
            <!--SMALL RIGHT BANNER-->
            <div class="col-md-6"><a class="home__box mt-20" href="{% url 'sales' %}"><img class="home__img" src="{% static "lions_heart_products/img/bg-3.jpg" %}"></a></div>
          </div>
        </div>
      </section>
    </main>
    {% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="row">


              <div class="col-md-2 col-sm-3">
            <!-- FIRST MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                   {% for category in categories_first %}
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'category' category.pk  %}">{{ category.title }}</a></li>
                   {% endfor %}
              </ul>
            </nav>
          </div>


         <div class="col-md-2 col-sm-3">
            <!-- FIRST MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                   {% for category in categories_second %}
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'category' category.pk  %}">{{ category.title }}</a></li>
                   {% endfor %}
              <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_uppercase footer__link" href="{% url 'sales' %}">{% trans 'Sales' %}</a></li>
              </ul>
            </nav>
          </div>


            <div class="col-md-2">
            <!-- SECOND MENU-->
            <nav class="nav nav_footer">
              <ul class="nav__list">
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
                <li class="nav__item footer__item"><a class="nav__link nav__link_light nav__link_capitalize footer__link" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-md-3 col-md-offset-3 align-right">
            <!--TELL-->
            <p class="footer__subtitle mt-20">{% trans 'Call' %}</p><a class="footer__tel" href="tel:+380662223344">+38 (066) 222 33 44</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static "lions_heart_products/js/libs.min.js" %}"></script>
    <script src="{% static "lions_heart_products/js/main.js" %}"></script>
  </body>
</html>

