{% extends 'lions_heart_products/index.html' %}

{% block content %}

       <p>{{ item.title }}</p>
       <p><img src={{ item.title_image.url }} /></p>

    {% for image in item.image_set.all %}
        <p><img src={{ image.image.url }} /></p>
    {% endfor %}

        <p>Цена: {{ item.price }}</p>
       <p>Коллекция: {{ item.collection }}</p>
       <p>Категория: {{ item.category }}</p>
       <p>Рекомендованные: {% for item in item.recommended_items.all %}
                            {{ item.title }}
                            {% endfor %}
       </p>

    <p><a class="btn btn-primary" href="{% url 'add_to_cart' item.pk %}" role="button">Add to cart</a></p>


{% endblock content %}
