{% extends 'lions_heart_products/index.html' %}
{% load i18n %}
{% load mytemplatetags %}
{% load widget_tweaks %}
{% load static from staticfiles %}

    {% block content %}


    <!--BREADCUMBS-->
    <div class="breadcumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item nav__item_inline"><a class="breadcumbs__link nav__link nav__link_dark" href="{% url 'home' %}">{% trans 'Main' %}</a></li>
                  <li class="nav__item nav__item_inline"><a class="breadcumbs__link nav__link nav__link_dark" href="{% url 'collection' item.collection.pk %}">{{ item.collection.title }}</a></li>
                <li class="nav__item nav__item_inline"><a class="breadcumbs__link nav__link nav__link_dark" href="{% url 'collection_category' item.collection.pk item.category.pk %}">{{ item.category.title }}</a></li>
                <li class="nav__item nav__item_inline">{{ item.title }}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT-->
    <main class="main">
      <section class="section sp">
        <div class="container">


          <div class="row">
            <!--PRODUCTS IMAGES-->
            <div class="col-md-4 col-md-offset-1">
              <div class="gallery" id="gallery1">
                <div class="sp__wrap"><a href="{{ item.title_image.url }}"><img class="sp__img" src={{ item.title_image.url }}></a></div>
                <!--small images-->
                <div class="owl-carousel">

                     {% for image in item.image_set.all %}

                  <div class="item sp__carousel"><a href="{{ image.image.url }}"><img class="sp__img" src="{{ image.image.url }}"></a></div>

                     {% endfor %}

                </div>
              </div>
            </div>
            <!--PRODUCT DESCRIPTION-->
            <div class="col-md-6 col-md-offset-1">
              <h2 class="section__title">{{ item.title }}</h2>

                {% if item.get_first_attribute.sales_price %}
                <p class="section__title section__title_price"><span id="sales_price">{{ item.get_first_attribute.sales_price|convert }}</span> {% trans 'UAH' %}</p>
                <p class="section__title section__title_price" style="text-decoration: line-through"><span id="price">{{ item.get_first_attribute.price|convert }}</span> {% trans 'UAH' %}</p>
                {% else %}
                <p class="section__title section__title_price"><span id="price">{{ item.get_first_attribute.price|convert }}</span> {% trans 'UAH' %}</p>
                {% endif %}

          <form action="{% url 'add_item' %}" method="POST">
                    {% csrf_token %}
                <input type="hidden" name="size_id" id="size_id" value="{{ item.get_first_attribute.id }}">
                <button data-href="{% url 'add_item' %}" class="button button_uppercase product__button cart__add">{% trans 'Add to cart' %}</button>
            </form>

              <ul class="sp__list sp__list_padding">
              {% if item.get_first_attribute.weight %}<li class="section__text section__text_dark sp__item">{% trans 'Weight, gr:' %} <span id="weight">{{ item.get_first_attribute.weight }}</span></li>{% endif %}

              {% if item.attributes_set.all|length > 1 %}

              <li class="section__text section__text_dark sp__item"><form method="post" action="{% url 'update_size' item.pk %}">
                            {% csrf_token %}
                  <span id="id_size">{% trans 'Size: ' %}{% render_field form.size %}</span>

              </form></li>

              {% else %}

                  {% if item.get_first_attribute.size %}<li class="section__text section__text_dark sp__item">{% trans 'Size:' %} {{ item.get_first_attribute.size }}</li>{% endif %}

              {% endif %}

                {% if item.get_first_attribute.diameter %}<li class="section__text section__text_dark sp__item">{% trans 'Diameter, mm:' %} <span id="diameter">{{ item.get_first_attribute.diameter }}</span></li>{% endif %}
                {% if item.get_first_attribute.length %}<li class="section__text section__text_dark sp__item">{% trans 'Length, cm:' %} <span id="length">{{ item.get_first_attribute.length }}</span></li>{% endif %}
                {% if item.get_first_attribute.width %}<li class="section__text section__text_dark sp__item">{% trans 'Width, mm:' %} <span id="width">{{ item.get_first_attribute.width }}</span></li>{% endif %}
                {% if item.get_first_attribute.height %}<li class="section__text section__text_dark sp__item">{% trans 'Height, mm:' %} <span id="height">{{ item.get_first_attribute.height }}</span></li>{% endif %}
                {% if item.specs.specs %}<li class="section__text section__text_dark sp__item">{{ item.specs.specs }}</li>{% endif %}
                </ul>

                {% if item.description %}
              <p class="section__text section__text_neutral sp__text align-center">{{ item.description }}</p>
                {% endif %}

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-6">


            <h3 class="section__text section__text_dark sp__list-title">{% trans 'Sales:' %}</h3>
              <ul class="sp__list">
                <li class="section__text section__text_dark sp__item">{% trans '-10% for 1 item;' %}</li>
                <li class="section__text section__text_dark sp__item">{% trans '-15% for 2 items;' %}</li>
                <li class="section__text section__text_dark sp__item">{% trans '-20% for 5 items;' %}</li>
                <li class="section__text section__text_dark sp__item">{% trans '-30% for custom order.' %}</li>
              </ul>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% if item.recommended_items.all %}<h2 class="sp__recomendation align-center">{% trans 'Recommended items' %}</h2>{% endif %}

                {% for item in item.recommended_items.all %}

                <div class="col-md-3 align-center">
                <div class="product"><span class="product__animation"></span><a class="product__link" href="{% url 'item' item.pk  %}">
                    {% if item.sales %}
                  <span class="onsale" style="background: url({% static 'lions_heart_products/img/sale.png' %}) no-repeat;"></span>
                    {% endif %}
                    {% if item.best_seller %}
                  <span class="onsale" style="background: url({% static 'lions_heart_products/img/best_seller.png' %}) no-repeat;"></span>
                    {% endif %}
                    <img class="product__img" src="{{ item.title_image.url }}"></a>
                    <div class="product__wrap"><a class="section__text section__text_dark" href="{% url 'item' item.pk  %}">{{ item.title }}</a>
                      {% if item.get_first_attribute.sales_price %}
                       <p class="section__text section__text_dark">{{ item.get_first_attribute.sales_price|convert }}<span> {% trans 'UAH' %}</span></p>
                      {% else %}
                    <p class="section__text section__text_dark">{{ item.get_first_attribute.price|convert }}<span> {% trans 'UAH' %}</span></p>
                      {% endif %}
                      <button data-href="{% url 'add_to_cart' item.pk %}" class="button button_uppercase product__button cart__catalogue">{% trans 'Add to cart' %}</button>
                    </div>
                </div>
              </div>

                {% endfor %}

            </div>
          </div>
        </div>
      </section>
    </main>


    {% endblock content %}