{% load mytemplatetags %}

<div class="row">
            <div class="col-md-12">

    {% if is_paginated %}

  <ul class="number__number align-center">
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="number__item"><span class="number__link number__link_active">{{ i }}</span></li>
      {% else %}
        <li class="number__item"><a class="number__link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
       </ul>

    {% endif %}

            </div>
          </div>