@import "index/index";
@import "about/about";
@import "blog/blog";
@import "catalog/catalog";
@import "sp/sp";
@import "ordering/ordering";
@import "cart/cart";
@import "contacts/contacts";

@media (max-width: 1200px) {
    @import "index/index-max-1200";
}

@media (max-width: 991px) {
    .header {
        line-height:2;
        padding-bottom:13px;
        &__mobile {
            display: block;
        }
        &__logo {
            img:first-child {
              width:auto;  
            }
        }
        &__item {
            display:block;
            text-align: center;
        }
        &__line {
            top:33px;
        }
        &__additional {
            float: none;
            text-align: center;
        }
        &__rate {
            position: inherit;
        }
        &__nav {
            background:$black-color;
            position:fixed;
            transition:all .5s;
            padding-top:20px;
            right:0;
            left:0;
            transform:scale(0);
            z-index: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            top:0;
            bottom:0;
            &_active {
                transform:scale(1);
                .nav__item_inline {
                    display:block;
                }
                .nav__link_dark {
                    color:$white-color;
                    &:hover,&:focus,&:link {
                        color:$white-color;
                    }
                }
                .nav__list-child {
                    position:relative;
                }
            }
        }
    }
    // merge
    .nav__item_has-child:hover {
        height:100px;
      }
      
        .nav__item_has-child {
          position: relative;
          cursor: pointer;
          text-align: center;
      }
      
        .nav__list-child {
          background-color: rgba(0, 0, 0, 0.6);
          left: 0;
          top: 0;
          z-index: 1;
          padding-top: 10px;
          padding-bottom: 10px;
          right: 0;
          line-height: 1.5;
      }
      
        .nav__wrapper {
          overflow:auto;
          height:100vh;
        }
        .footer__subtitle {
            text-align: center;
          }
          .footer__tel {
            display: block;
            text-align: center;
          }
          .nav_footer {
            text-align: center;
            padding-top: 30px;
          }
          .section__title {
            font-size: 25px;
          }
          .form_breadcumbs {
            text-align: center;
            margin: 0 auto;
            display: table;
            padding-top: 40px;
          }
        
          .form__select {
            display: block;
            max-width: 300px;
            margin-bottom: 10px;
          }
        
          .form_breadcumbs .form__select {
             border: 1px solid grey;
           }
        
          .form__select_header {
            color: #fff;
            margin-left: auto;
            margin-right: auto;
          }
    //end merge
    @import "index/index-max-992";
    @import "blog/blog-max-992";
}

@media (max-width: 767px) {
    .header {
        line-height:2;
        padding-bottom:13px;
        &__mobile {
            display: block;
        }
        &__item {
            display:block;
            text-align: center;
        }
        &__additional {
            float: none;
            text-align: center;
        }
        &__rate {
            position: inherit;
            color: #0b7f58;
        }
        &__logo {
            img:first-child {
              width:auto;  
            }
        }
        &__line {
            top:33px;
        }
        &__nav {
            background:$black-color;
            position:fixed;
            transition:all .5s;
            padding-top:20px;
            right:0;
            left:0;
            transform:scale(0);
            z-index: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            top:0;
            bottom:0;
            &_active {
                transform:scale(1);
                .nav__item_inline {
                    display:block;
                }
                .nav__link_dark {
                    color:$white-color;
                    &:hover,&:focus,&:link {
                        color:$white-color;
                    }
                }
                .nav__list-child {
                    position:relative;
                }
            }
        }
    }
    .footer {
        &__subtitle {
            text-align:center;
        }
        &__tel {
            display:block;
            text-align: center;
        }
    }
    .nav {
        &_footer {
            text-align:center;
            padding-top:30px;
        }
        &__item_has-child {
            position: relative;
            cursor: pointer;
            text-align: center;
            &:hover {
                height: 100px;
            }
          }
        &__list-child {
            background-color: rgba(0, 0, 0, 0.6);
            left: 0;
            top: 0;
            z-index: 1;
            padding-top: 10px;
            padding-bottom: 10px;
            right: 0;
            line-height: 1.5;        
        }
        &__wrapper {
            overflow:auto;
             height:100vh;
        }
    }
    .section {
        &__title {
            font-size: 25px;
        }
    }
    .form {
        &_breadcumbs {
            text-align:center;
            margin: 0 auto;
            display:table;
            padding-top: 40px;
        }
        &-space {
            justify-content: center;
        }
        &__select {
            display:block;
            max-width:300px;
            margin-bottom:10px;
            &_header {
                color: #fff;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .form_breadcumbs .form__select {
        border: 1px solid grey;
      }
    .section {
        &__title {
            &_catalog {
                text-align: center;
            }
        }
    }
    .header .form__select {
        width:50px;
      }
      
      .cart_length {
          font-size: 12px;
          background: #337ab7;
          color: white;
          padding: 0 5px;
          vertical-align: top;
      }
      
      
      .rate {
        font-size: 14px;
        color: #337ab7;
      }
    @import "index/index-max-767";
    @import "about/about-max-767";
    @import "blog/blog-max-767";
    @import "catalog/catalog-max-767";
    @import "sp/sp-max-767";
    @import "ordering/ordering-max-767";
    @import "cart/cart-max-767";
}