$main-color: #393d45;
$red-color: #d4495a;
$green-color: #33b185;

$white-color: #fff;
$black-color: #000;

$Futura-font: 'FuturaDemic';

$i: 10;
@while $i < 101 {
    .mb-#{$i} { margin-bottom: $i + px; }
    $i: $i + 10;
}

$i: 10;
@while $i < 101 {
    .mt-#{$i} { margin-top: $i + px; }
    $i: $i + 10;
}

@mixin center($height) {
    display:flex;
    align-items:center;
    justify-content:center;
    height: $height;
}