@import "variables-functions-and-mixins";

::selection { background: rgba($green-color, .5); }
* { font-family: $Futura-font, Serif; }
// .container-fluid {max-width: 1920px;}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

// NAVIGATION STYLE

.nav {
  &_footer {
    padding-top:20px;
    padding-bottom:20px;
  }
  &__list {
    padding-left:0px;
    list-style-type:none;
    &_header {
      float:left;
    }
    &-child {
      display:none;
      position:absolute;
      left:0;
      background: #fff;
      border: 1px solid #ccc;
      top:-10px;
      z-index: 1;
      padding-top:30px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom:20px;
      right:0;
      line-height:1.5;
    }
  }
  &__item {
    &_inline {
      display:inline-block;
    }
    &_has-child {
      position:relative;
      cursor:pointer;
      background: #fff;
      z-index: 50;
      &:hover > .nav__list-child {
        display:block;
      }
      &:hover > .header__link_has-child {
        border-bottom: 2px solid #ccc;
      }
    }
    &:last-child .breadcumbs__link::after{
      display:none;
    }
  }
  &__arrow {
    position:absolute;
    right:0px;
    top:2px;
    color:$black-color;
    font-size:9px;
  }
  
  &__link {
    position:relative;
    font-weight:400;
    transition:all .5s;

    &_dark {
      color: $black-color;
    }
    &_light {
      color: $white-color;
    }
    &_uppercase {
      text-transform: uppercase;
    }
    &_capitalize {
      text-transform: capitalize;
    }
  }
}

// HEADER STYLE
.header {
  border-bottom:4px solid #cdcdcd;
  &__logo {
    height: 85px;
    display: flex;
    align-items: center;
    position:relative;
    img:first-child {
      width:100%;
    }
  }
  &__line {
    top: 64px;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
  }
  &__link {
    font-size:15px;
    padding-left:10px;
    display:block;
    padding-right:10px;
    transition: all .3s;
    &_child {
      padding:0;
      line-height: 1; 
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
      transition: all .3s;
      &:hover {
        border-bottom: 1px solid #ccc;
      }
      &:first-child {
        padding-top: 20px;
      }
      &:last-child {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    &_has-child {
      z-index: 51;
      padding-left: 10px;
      border-bottom: 2px solid transparent;
      padding-right: 10px;
    }
    &:hover:before, &:hover:after {
      width:50%;
    }
    &:before {
      position:absolute;
      content:'';
      width:0;
      height:2px;
      bottom:28px;
      transition:all .3s;
      left:0;
      background-color:$black-color;
    }
    &:after {
      position:absolute;
      content:'';
      width:0;
      bottom:28px;
      height:2px;
      right:0;
      transition:all .5s;
      background-color:$black-color;
    }
    &__nav {
      transition: all .5s;
    }
    .nav__item:first-child &__link {
      padding-left:0;
    }
    .nav__item:last-child &__link{
      padding-right:0;
    }
    &:hover, &:focus, &:link {
      color: $black-color;
      text-decoration: none;
    }
  }
  &__additional {
    float:right;
    position: relative;
  }
  &__rate {
    position: absolute;
    top: 25px;
    white-space: nowrap;
    z-index: -1;
    color: #0b7f58;
  }
  &__select {
    height: 30px;
    width: 100%;
    min-width: 44px;
    font-size: 12px;
    text-indent: 3px;
    text-align: center;
    color: #000;
    & option {
      background-size: cover;
      width: 26px;
      height: 26px;
    }
  }
  &__mobile {
    position:fixed;
    right:5px;
    display:none;
    padding:10px;
    top:17px;
    transition:all .5s;
    z-index: 5;
    &_active {
      .header__hamburger {
        background:$black-color;
        &:first-child,&:nth-child(2),&:nth-child(3) {
          border-top:3.5px solid $black-color;
          margin:0;
        }
        &:first-child {
          transform:rotate(45deg);
        }
        &:nth-child(2) {
          transform:rotate(-45deg);
        }
        &:nth-child(3) {
          opacity:0;
        }
      }
    }
  }
  &__hamburger {
    display:block;
    width: 35px;
    transition: all .5s;
    border-top:3.5px solid $black-color;
    background-color:$black-color;
    margin-top:5px;
  }
  &__nav {
    height: 85px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

//merge


.header__link_child::before, .header__link_child::after {
  display:none;
}

.nav__item_has-child > .header__link::after, .nav__item_has-child > .header__link::before {
  display:none;
}


//end merge

// FOOTER STYLE
.footer {
  margin-top: auto;
  background: linear-gradient(to bottom, #2d2d2d, #0d0d0d);
  &__link {
    display:block;
    font-size:18px;
    &:hover, &:focus, &:link {
      color: $white-color;
    }
  }
  &__item {
    margin-top:10px;
    &:first-child {
      margin-top:0;
    }
  }
  &__subtitle {
    font-size:18px;
    color:$white-color;
  }
  &__tel {
    font-size:24px;
    color:$white-color;
    &:hover, &:link, &:focus {
      color:$white-color;
    }
  }
  &__copyright {
    text-align: center;
    font-size: 18px;
    display: block;
    color: $unactive-color;
    &:hover {
      color: $green-color;
    }
    &:focus {
      color: $unactive-color;
    }
  }
}

.social-footer {
  margin-top: 20px;
  &__inner {
    padding-right: 15px;
    &:last-child {
      padding-right: 0;
    }
  }
}

//GLOBAL SECTION STYLE
.section {
  &__title {
    font-size:48px;
    margin:0px;
    color:$black-color;
    &_catalog {
      padding-bottom:25px;
      padding-top:20px;
    }
    &_price {
      font-size: 30px;
    }
  }
  &__text {
    font-size:18px;
    &_mb-0 {
      margin-bottom:0;
    }
    &_light {
      color:$white-color;
    }
    &_dark {
      color:$black-color;
      &:hover,&:focus,&:link {
        color:$black-color;
      }
    }
    &_neutral {
      color:$unactive-color;
    }
  }
  &__subtitle {
    font-size:24px;
    color:$black-color;
    &_theme {
      font-family: 'Gothic';
    }
    text-transform: uppercase;
  }
  &__item {
    background-color:#f3f3f3;

  }
  &__price {
    white-space: nowrap;
  }
}

//PAGE NUMBERS
.number {
  &__number {
    font-size:18px;
    list-style-type: none;
    color:#9d9d9d;
  }
  &__item {
    display: inline;
  }
  &__link {
    padding-right:15px;
    color:#9d9d9d;
    &_active {
      color:$black-color;
    }
    &:last-child{
      padding-left:0;
    }
    &:hover {
      text-decoration: none;
      color: $black-color;
    }
    &:link, &:focus {
      color: #9d9d9d;
    }
  }
}

//BREADCUMBS
.breadcumbs {
  margin-top:18px;
  &__item {

  }
  &__link {
    padding-right:17px;
    text-transform: capitalize;
    &:hover, &:link, &:focus {
      color:$black-color;
    }
    &:after {
      position:absolute;
      content:'';
      background-image:url('../img/arrow-right.png');
      right:0;
      top:7px;
      width:8px;
      background-repeat:no-repeat;
      height:6px;
    }
  }
}

//PRODUCTS 
.product {
  border: 1px solid #e8e8e8;
  padding: 15px 0;
  margin-bottom: 27px;
  position: relative;

  &:after, &:before, &__animation:after, &__animation:before {
    position: absolute;
    content: '';
    transition: all .5s;
    width: 1px;
    height: 1px;    
  }
  &:after {
    left: 0;
    bottom: 0;
  }
  &:before {
    right: 0;
    top: 0;
  }
  &__animation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    &:after {
      top: 0;
      left: 0;
    }
    &:before {
      right: 0;
      bottom: 0;
    }
  }
  &:hover {
    &:after { 
      right: 0;
      width: 100%;
      background: $black-color;
    }
    &:before {
      left: 0;
      width: 100%;
      background: $black-color;
    }
  }
  &:hover > &__animation:after {
    bottom: 0;
    height: 100%;
    background: $black-color;
  }
  &:hover > &__animation:before {
    top: 0;
    height: 100%;
    background: $black-color;
  }
  &__link {
    @include center(230px);
    width:100%;
    padding: 0 1px;
  }
  &__wrap {
    padding: 0 20px;
  }
  &__price {
    font-size: 14px;
  }
  &__img {
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
  }
  &__button {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    color: #000;
    transition: all .4s;
    font-size: 14px;
    max-width: 195px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    /*border:1px solid transparent;*/
    border:1px solid #000000;
    &:hover {
      background-color: #000;
      color: #ffffff;
    }
  }
}

//BUTTON
.button {
  outline:none;
  padding-top:20px;
  padding-bottom:20px;
  &_transparent {
    background-color:transparent;
  }
  &_light {
    color:$white-color;
  }
  &_uppercase {
    text-transform: uppercase;
  }
  &_bg-dark {
    background-color:$black-color;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//form on server
.form-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

 
.cart__length {
 font-size: 12px;
background: #337ab7;
 color: white;
 padding: 0 5px;
 vertical-align: top;
}

//OWL-CAROUSEL 
.owl {
  &-dot {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
  }
  &-dots {
    text-align: center;
    margin-top:20px;
  }
  &-dots .active {
    background: none repeat scroll 0 0 $black-color;
  }
}

//swiper 
.swiper-container {
  width: 100%;
  height: calc(100vh - 150px);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
}

.swiper-pagination-bullets {
  bottom: 20px;
}

.swiper-pagintation {
  z-index: 999;
}

.swiper-pagination-bullet {
  background-color: rgba(255,255,255, .6); 
  width: 10px;
  height: 10px;
  position: relative;
  opacity: 1;
 
  &-active {
    background: #fff;
  }
}

@import 'media';
@import "fonts";

