@import "variables-functions-and-mixins";

::selection { background: rgba($green-color, .5); }
* { font-family: $Futura-font, Serif; }
// .container-fluid {max-width: 1920px;}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

@import 'media';
@import "fonts";

// NAVIGATION STYLE
.nav {
  &_footer {
    padding-top:45px;
    padding-bottom:50px;
  }
  &__list {
    padding-left:0px;
    list-style-type:none;
    &-child {
      display:none;
      position:absolute;
      background-color: rgba($black-color, .6);
      left:0;
      top:52px;
      z-index: 1;
      padding-top:20px;
      padding-bottom:20px;
      right:0;
      line-height:1.5;
    }
  }
  &__item {
    &_inline {
      display:inline-block;
    }
    &_has-child {
      position:relative;
      cursor:pointer;
      &:hover > .nav__list-child {
        display:block;
      }
    }
    &:last-child .breadcumbs__link::after{
      display:none;
    }
  }
  &__arrow {
    position:absolute;
    right:0px;
    top:2px;
    color:$black-color;
    font-size:9px;
  }
  
  &__link {
    position:relative;
    font-weight:400;
    &_dark {
      color: $black-color;
    }
    &_light {
      color: $white-color;
    }
    &_uppercase {
      text-transform: uppercase;
    }
    &_capitalize {
      text-transform: capitalize;
    }
  }
}

// HEADER STYLE
.header {
  line-height: 85px;
  border-bottom:4px solid #cdcdcd;
  &__logo {
    position:relative;
  }
  &__line {
    top: 45px;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
  }
  &__link {
    font-size:20px;
    padding-left:10px;
    display:block;
    padding-right:10px;
    &_child {
      padding:0;
    }
    .nav__item:first-child &__link {
      padding-left:0;
    }
    .nav__item:last-child &__link{
      padding-right:0;
    }
    &:hover, &:focus, &:link {
      color: $black-color;
    }
  }
}

// FOOTER STYLE
.footer {
  background: linear-gradient(to bottom, #2d2d2d, #0d0d0d);
  &__link {
    display:block;
    font-size:18px;
    &:hover, &:focus, &:link {
      color: $white-color;
    }
  }
  &__item {
    margin-top:20px;
    &:first-child {
      margin-top:0;
    }
  }
  &__subtitle {
    font-size:18px;
    color:$white-color;
  }
  &__tel {
    font-size:24px;
    color:$white-color;
    &:hover, &:link, &:focus {
      color:$white-color;
    }
  }
}

//GLOBAL SECTION STYLE
.section {
  &__title {
    font-size:48px;
    margin:0px;
    color:$black-color;
    &_catalog {
      padding-bottom:25px;
    }
  }
  &__text {
    font-size:18px;
    &_light {
      color:$white-color;
    }
    &_dark {
      color:$black-color;
      &:hover,&:focus,&:link {
        color:$black-color;
      }
    }
    &_neutral {
      color:$unactive-color;
    }
  }
  &__subtitle {
    font-size:24px;
    color:$black-color;
    text-transform: uppercase;
  }
}

//PAGE NUMBERS
.number {
  &__number {
    font-size:18px;
    color:#9d9d9d;
  }
  &__link {
    padding-right:15px;
    color:#9d9d9d;
    &_active {
      color:$black-color;
    }
    &:last-child{
      padding-left:0;
    }
    &:hover, &:link, &:focus {
      text-decoration: none;
      color: $black-color;
    }
  }
}

//BREADCUMBS
.breadcumbs {
  margin-top:18px;
  &__item {

  }
  &__link {
    padding-right:17px;
    text-transform: capitalize;
    &:hover, &:link, &:focus {
      color:$black-color;
    }
    &:after {
      position:absolute;
      content:'';
      background-image:url('../img/arrow-right.png');
      right:0;
      top:7px;
      width:8px;
      background-repeat:no-repeat;
      height:6px;
    }
  }
}

//PRODUCTS 
.product {
  border:1px solid #e8e8e8;
  padding:15px 0;
  margin-bottom:27px;
  &__link {
    @include center(230px);
    width:100%;
  }
  &__wrap {
    padding: 0 20px;
  }
  &__img {
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
  }
  &__button {
    padding-top:20px;
    padding-bottom:20px;
    max-width:251px;
    font-size:18px;
    width:100%; 
    background-color:$black-color;
  }
}

//BUTTON
.button {
  border:none;
  outline:none;
  padding-top:20px;
  padding-bottom:20px;
  &_light {
    color:$white-color;
  }
  &_uppercase {
    text-transform: uppercase;
  }
  &_bg-dark {
    background-color:$black-color;
  }
}

//OWL-CAROUSEL 
.owl {
  &-dot {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
  }
  &-dots {
    text-align: center;
    margin-top:20px;
  }
  &-dots .active {
    background: none repeat scroll 0 0 $black-color;
  }
}