{% extends 'lions_heart_products/index.html' %}
{% load i18n %}

{% block content %}


    <!-- MAIN CONTENT-->
    <main class="main">
        <section class="section blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section__title section__title_dark about__title">{% trans 'Blog' %}</h2>
                    </div>
                </div>

                {% for post in object_list %}

                    <div class="row mt-10">
                    <div class="col-md-12 col-sm-12">
                        <!-- SINGLE BLOG-->
                        <div class="blog__text"><a class="blog__box" href="{% url 'blog_detail' post.pk %}">
                            {% if post.main_image %}
                                <div class="blog__img" style="background-image:url({{ post.main_image.url }});"></div>
                                </a>
                            {% endif %}
                            <p>{{ post.title }}</p>
                            <p style="text-align: justify">{{ post.body_text|truncatechars:500 }}</p>
                        </div>
                        <div class="blog__bottom bottom-blog">
                            <div class="bottom-blog__date">{{ post.created|date:'d-m-Y' }}</div>
                            <a class="bottom-blog-more"
                               href="{% url 'blog_detail' post.pk %}">{% trans 'read more' %}</a>
                        </div>
                    </div>

                {% endfor %}

                {% include 'lions_heart_products/pagination.html' %}

                </div>

            </div>

        </section>
    </main>

{% endblock content %}

