{% extends 'lions_heart_products/index.html' %}
{% load i18n %}

{% block content %}

    <main class="main">
      <section class="section blog">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section__title align-center">{{ post.title }}</h2>
            </div>
          </div>

        {% if post.main_image %}
               <img src={{ post.main_image.url }}>
                 {% endif %}
        <p>{{ post.body_text }}</p>

        {% trans 'Comments' %}:

        {% for comment in post.comment_set.all %}

        <p>

        Author: {{ comment.author }}<br>
        {{ comment.comment }}

        </p>

        {% endfor %}

        <p>{% trans 'Please, leave your comment:' %}</p>
      <form method="post" action="{% url 'new_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value={% trans "Submit" %} class="btn"/>
      </form>

    </div>
          </div>
        </div>
      </section>
    </main>

{% endblock content %}

