// HEADER
header.header

  .container
    .row
      .col-md-3.col-xs-12.col-sm-3
        // LOGO
        a(href="#").header__logo
          img(src="../../img/logo.jpg" alt='logo')
          img(src="../../img/header-line.png").header__line
      .col-md-9.col-xs-12.col-sm-12
        a(href='#').header__mobile
          span.header__hamburger
          span.header__hamburger
          span.header__hamburger
          
        // NAVIGATION
        nav.nav.header__nav

            ul.nav__list.nav__list_header
              //- li.nav__item.nav__item_inline.nav__item_has-child.header__item
              //-   span.nav__link.nav__link_dark.nav__link_uppercase.header__link коллекции
              //-   // DROP-DOWN
              //-   p.nav__arrow &#x25BC;
              //-   ul.nav__list.nav__list-child.align-center 
              //-     each child in ['лето','весна']
              //-       li.nav__item.header__item
              //-         a(href="#").nav__link.nav__link_uppercase.nav__link_light.header__link.header__link_child= child
              each text in [ 'Коллекции', 'о нас', 'блог', 'контакты', 'уникальные подарки', 'корзина']
                li.nav__item.nav__item_inline.header__item
                  a(href="#").nav__link.nav__link_uppercase.nav__link_dark.header__link= text
            .header__additional
              form
                select.header__select
                  option(style='background-image: url("../../img/united-kingdom.png")')
                  option
                    img.header__select-lang(src="../../img/united-kingdom.png", alt="great britain")
                .header__rate $28.4