{% extends 'lions_heart_app/index.html' %}

{% block content %}

    {% for item in products %}

       <p><a href="{% url 'item' item.pk  %}">{{ item.title }}</a></p>
         <p><img src={{ item.title_image.url }} /></p>
         <p>Цена: {{ item.price }}</p>
       <p>Коллекция: {{ item.collection }}</p>
       <p>Категория: {{ item.category }}</p>

         <p><a class="btn btn-primary" href="{% url 'add_to_cart' item.pk %}" role="button">Add to cart</a></p>

         <p>Рекомендованные: {% for product in item.recommended_items.all %}
                            {{ product.title }}
                            {% endfor %}
       </p>

        <hr>

    {% endfor %}

{% endblock content %}





